* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

.app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  gap: 24px;
  background-color: #f6f8fd; /* Optional: to give some contrast to the background */
}

.cart,
.summary {
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart {
  flex: 3;
  /* margin-right: 20px; */
}

.summary {
  flex: 1;
}

.cart h2,
.summary h2 {
  margin-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-actions button {
  background-color: #ffd700;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.item-actions button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.summary p {
  display: flex;
  justify-content: space-between;
}

.summary button {
  width: 100%;
  padding: 10px;
  background-color: #ffd700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shipping-cost {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
}

.shipping-cost h2 {
  margin-bottom: 20px;
}

.shipping-cost input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.couriers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.couriers div {
  display: flex;
  align-items: center;
}

.couriers input {
  margin-right: 5px;
}

.shipping-cost button {
  width: 100%;
  padding: 10px;
  background-color: #f4c21b;
  color: rgb(10, 9, 9);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shipping-cost {
  margin-top: 20px;
  width: 100%;
}

.shipping-cost h2 {
  margin-bottom: 10px;
}

.shipping-cost select,
.shipping-cost input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.shipping-cost label {
  font-weight: bold;
  margin-top: 10px;
}

.shipping-cost .form-group {
  margin-bottom: 15px;
}

.shipping-cost .form-group label,
.shipping-cost .form-group select,
.shipping-cost .form-group input {
  display: block;
  width: 100%;
}

.error-message {
  color: red;
  font-weight: bold;
}

.summary {
  margin-top: 20px;
  width: 100%;
}

.summary h2 {
  margin-bottom: 10px;
}

.summary p {
  margin: 5px 0;
}
