.container-profil-email {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center;
        justify-content: center; */
  border-radius: 6px;
  gap: 4px;
}

.hint-email {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.textfield-email input {
  display: flex;

  border: 1px solid #9d9d9d;
  background-color: #fdfdfd;
  padding: 10px 16px;
  border-radius: 6px;
  width: 100%;

  color: #505050;
}
