.container-navbar-searching {
  display: flex;
  /* position: fixed; */
  width: 100%;
  align-items: center;
  gap: 8px;
  background-color: #f6f8fd;

  padding: 10px 24px;
}
.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-icon-container img {
  width: 50px; /* Atur ukuran sesuai kebutuhan */
  height: auto;
}

.cart-count {
  position: absolute;
  top: -1px; /* Sesuaikan posisi vertikal */
  right: -2px; /* Sesuaikan posisi horizontal */
  background-color: #f4c21b;
  color: black;
  border-radius: 50%;
  padding: 5px 10px; /* Atur ukuran padding sesuai kebutuhan */
  font-size: 12px; /* Sesuaikan ukuran font */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo img {
  height: 40px;
}

.container-searchbar {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  width: 100%;
  background-color: #f6f8fd;
  padding: 0px 24px;
}

.container-navbar-searching img {
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.container-searchbar img:hover {
  background-color: #f4c21b;
  border-radius: 50px;

  transform: scale(1.1);
}

.location-button {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container-navbar-searching {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .container-searchbar {
    width: 100%;
    justify-content: space-between;
  }

  .container-searchbar img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    width: 40px;
  }

  .location-button {
    font-size: 14px;
  }

  .container-searchbar img {
    width: 20px;
    height: 20px;
  }
}