.profile-page-seller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  width: 100%;

  /* padding: 48px 64px 180px 64px; */
  background-color: #f6f8fd;
}

.container-besar-profil-seller {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* background-color: #f6f8fd; */

  padding: 64px 64px 180px 64px;
  gap: 48px;
}

.note-pusat-dan-role-seller {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  width: fit-content;
  height: fit-content;
  background-color: #fdfdfd;
  padding: 0px;
  gap: 16px;
}

.container-pusat-akun-seller {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  /* align-items: center;
    justify-content: center; */
  padding: 10px 10px;
  gap: 24px;
  border-radius: 6px;

  background-color: #fdfdfd;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.container-pusat-akun-seller h3 {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  color: #505050;
}

.container-pusat-akun-seller p {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}

.container-role-seller {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  /* align-items: center;
      justify-content: center; */
  padding: 16px 10px;
  gap: 24px;
  border-radius: 6px;

  background-color: #fdfdfd;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.container-role-seller h3 {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  color: #505050;
}

.container-kanan-profil-seller {
  display: flex;
  flex-direction: column;
  width: 888px;
  /* justify-content: flex-start; */
  align-items: start;
  /* align-items: center;
      justify-content: center; */
  /* padding: 10px 10px; */
  gap: 24px;
  /* border-radius: 6px; */
}

.label-profil-seller {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  color: #505050;
}

.container-foto-profil-seller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-foto-profil-seller img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container-nama-alamat-seller {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  background-color: #fdfdfd;
  border-radius: 6px;
  padding: 16px 24px;

  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.container-nama-alamat-seller h2 {
  display: flex;
  width: 100%;
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #505050;
}

/* .container-profil-nama-seller {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
} */

.container-email-seller {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  background-color: #fdfdfd;
  border-radius: 6px;
  padding: 16px 24px;

  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.container-email-seller h2 {
  display: flex;
  width: 100%;
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #505050;
}

/* .container-hp-email {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  } */

.container-email-seller a {
  display: flex;
  width: 100%;

  color: #e4322e;
  font-weight: 600;
  text-decoration: none;
}

.container-email-seller a {
  display: flex;
  width: 100%;

  color: #e4322e;
  font-weight: 600;
  text-decoration: none;
}
.form-group{
  margin-bottom: 0px;
}
.form-group label {
  display: block;
  color: #505050;
}
.form-group select{
  display: flex;
  margin-bottom: 5px;
  border: 1px solid #9d9d9d;
  background-color: #fdfdfd;
  padding: 10px 16px;
  border-radius: 6px;
  width: 100%;
  color: #505050;

}
.form-group select.input-field {
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

.form-group select.input-field:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}