html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.register-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.register-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.register-image {
  flex: 1;
  padding: 20px; /* Tambahkan padding untuk memberi ruang di sekitar gambar */
}

.register-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-register {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-register h1{
  color: #F4C21B;
  margin-bottom: 20px;
}
.container-register p {
  text-align: center;
  margin-bottom: 20px;
}

.form-group-register {
  margin-bottom: 20px;
  width: 100%;
}

.form-control-register {
  width: 100%;
  padding: 12px; /* Ubah padding agar seragam dengan form lainnya */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary-register {
  background-color: #F4C21B;
  color: white;
  padding: 12px; /* Ubah padding agar seragam */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%; /* Tombol mengambil lebar penuh dari parentnya */
  border: none; /* Hapus border yang tidak dibutuhkan */
}

.btn-primary-register:hover {
  background-color: #4075e0; /* Ubah warna latar belakang saat hover */
}

.container-register a {
  color: #336ccd;
  text-decoration: none;
}

.container-register a:hover {
  text-decoration: underline;
}
