/* Login.css */

.login-background {
  background-image: url('./images/gambar.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out; /* Tambahkan transisi untuk latar belakang */
}

.login-container {
  background: rgba(255, 255, 255, 0.8); /* Warna latar belakang formulir dengan transparansi */
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Tambahkan transisi untuk formulir */
}

.login-container:hover {
  transform: scale(1.05); /* Efek pembesaran saat dihover */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.forgot-password,
.forgot-password a,
p a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover,
p a:hover {
  text-decoration: underline;
}
